@model MvcProject.Models.Depo

@{
    ViewData["Title"] = "Depo Düzenle";
}

<h1>Depo Düzenle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="DepoName" class="control-label"></label>
                <input asp-for="DepoName" class="form-control" />
                <span asp-validation-for="DepoName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
