@page
@model SporSalonApp.Pages.Admin.Ekipmanlar.CreateModel
<br /><h2>Yeni Ekipman Ekle</h2>
<form method="POST">
    <div class="row mb-3"><label class="col-sm-3">Ad</label><div class="col-sm-6"><input type="text" class="form-control" name="ad" /></div></div>
    <div class="row mb-3"><label class="col-sm-3">Durum</label><div class="col-sm-6"><input type="text" class="form-control" name="durum" /></div></div>
    <div class="row mb-3"><label class="col-sm-3">Tarih</label><div class="col-sm-6"><input type="date" class="form-control" name="tarih" /></div></div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>