@model Breed

@{
    ViewData["Title"] = "Yeni Irk Ekle";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Yeni Irk Kaydı</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="BreedName">Irk Adı (Örn: Golden Retriever)</label>
            <input asp-for="BreedName" class="form-control" />
        </div>
        
        <div class="mb-3">
            <label asp-for="SpeciesId">Bağlı Olduğu Tür</label>
            <select asp-for="SpeciesId" asp-items="ViewBag.SpeciesList" class="form-select">
                <option disabled selected>-- Tür Seçiniz --</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Kaydet</button>
        <a href="/Admin/Breed/Index" class="btn btn-secondary" style="width:150px">Listeye Dön</a>
    </div>
</form>
